/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.container_60 {
    width: 60%;
    margin: 0 auto;
}
.container_80 {
    width: 80%;
    margin: 0 auto;
}

.white {
    color: white;
}
.darkblue {
    color: #21333e;
}

.horizondal_list {
    list-style: none;
}
.horizondal_list li {
    display: inline-block;
}
.horizondal_list li a {
    text-decoration: none;
}

.btn {
    padding: 7px 15px;
    border-radius: 3px;
    color: white;
}
.btn_full {
    border: none;
    background-color: #038384;
}
.btn_empty {
    border: 1px solid #038384;
    background-color: #ffffff00;
}

.span_green {
    color: #038384;
    font-weight: 500;
}
.span_highlighter {
    background-color: #03838438;
    padding: 5px 10px;
}

p {
    line-height: 20px;
}

h2 {
    font-size: 3em;
}
h3 {
    font-size: 1.6em;
}

.container_block {
    display: flex;
    justify-content: space-between;
}
.block {
    width: calc(100% / 3);
    background-color: #19191f;
    border-radius: 10px;
    padding: 30px;
}
.block_center {
    margin: 0 20px;
}

.circle {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}
/* INIZIO HEADER */

/* INFO */
.info {
    width: 100%;
    background-color: #21333e;
}
.info .container_60 {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info span,
.info i,
.info a {
    color: #bcbdbd;
}

.head_contact li {
    margin: 0 10px;
}

/*INIZIO JUMBOTRON */
#jumbotron {
    position: relative;
    background-image: url(../img/bg-9.jpg);
    background-size: 100%;
    background-position: top;
    height: 620px;
    padding: 20px 0 50px 0;
}
.layover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #0000006e;
}

#jumbotron .container_60 {
    z-index: 2;
    position: relative;
}

/* NAV */
#jumbotron nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 110px;
}

nav .horizondal_list li {
    margin: 0 10px;
    color: #bcbdbd;
    font-weight: 500;
}
nav .horizondal_list li a {
    color: #d1d1d1;
}

/* TEXT JUMBOTRON */
.text_jumbo {
    margin-top: 120px;
    width: 35%;
}

.text_jumbo h1 {
    font-size: 4em;
    color: white;
}

.text_jumbo p {
    color: #bcbdbd;
    margin: 10px 0 30px 0;
}

.text_jumbo .btn_full {
    margin-right: 10px;
}
/* FINE JUMBOTRON */

/* FINE HEADER */

/* INIZIO MAIN */

/* INIZIO WHO WE ARE */
.information {
    padding: 80px 0 120px 0;
}

/* INFO TRANSPORT */
.transport {
    float: left;
    width: 60%;
}

.transport h2 {
    margin-top: 20px;
}

.transport p {
    margin: 20px 0;
    color: #69696d;
}
.transport .exalt {
    padding: 10px;
    border-left: 5px solid #03838438;
}

.transport ul {
    margin-left: 15px;
    color: #69696d;
}

/* AUTO AND CERTIFICATION */
.auto_certification {
    float: right;
    width: 35%;
}

.vehicle {
    list-style: none;
    margin: 20px 0 40px 0;
}
.vehicle li {
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 70%;
    border-bottom: 1px solid black;
}
.vehicle li img {
    width: 80px;
    background-color: #03838438;
    padding: 5px;
    vertical-align: middle;
}
.vehicle li div {
    display: inline-block;
    vertical-align: middle;
}

.certification {
    width: 100px;
    margin-top: 20px;
}
/* FINE WHO WE ARE */

/* INIZIO SERVICES */
.services {
    padding: 80px 0 120px 0;
    width: 100%;
    background-color: #121117;
}

.services p {
    color: #bcbdbd;
}

.services .container_60 > h2 {
    margin: 20px 0;
}

.services .container_60 > p {
    display: inline-block;
    width: 65%;
}

.services .container_60 > .btn {
    float: right;
}

.services .container_block {
    margin-top: 40px;
}
.services .block {
    position: relative;
}
.circle_i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #03838438;
    text-align: center;
}
.circle_i i {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #038384;
}

.fa-arrow-right {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #16928e;
    font-size: 18px;
}

.services .container_block h3 {
    margin: 15px 0;
}
/* FINE SERVICES */

/* INIZIO PROCEDURE */
.procedure {
    position: relative;
    width: 100%;
    background-color: #eef4ed;
    padding: 80px 0 120px 0;
}

.procedure p {
    color: #738085;
}

.procedure .container_80 {
    text-align: center;
}

.procedure .container_80 h2 {
    margin: 20px 0;
}
.procedure .container_80 > p {
    display: inline-block;
    width: 50%;
}

.container_sequence {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.sequence {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 5 - 56px);
}

.sequence .circle {
    background-color: #c1dfe1;
}
.num_seq {
    line-height: 30px;
}

.sequence h3 {
    margin: 20px 0;
}

.line {
    position: absolute;
    z-index: 0;
    width: 100%;
    border-bottom: 4px solid #cce3de;
    left: 0;
    top: 284px;
}

/* FINE PROCEDURE */

/* INIZIO NUMBERS */
.numbers {
    width: 100%;
    padding: 100px 0;
    background-image: url(../img/bg-10.jpg);
    background-size: 100%;
    background-position: 50% 60%;
}
.numbers .container_60 {
    text-align: center;
}

.numbers h2 {
    margin: 20px 0 60px 0;
}

.container_data {
    display: flex;
    justify-content: space-between;
}

.data span {
    font-size: 25px;
    color: #52bbbb;
    font-weight: 900;
}
/* FINE NUMBERS */

/* INIZIO FEEDBACK */
.feedback {
    width: 100%;
    padding: 80px 0;
    background-color: #121117;
}
.feedback .container_60 {
    text-align: center;
}

.feedback p {
    color: #bcbdbd;
}

.feedback h2 {
    margin: 20px 0;
}

.feedback .container_block {
    margin-top: 40px;
}

.feedback .block {
    position: relative;
    text-align: left;
}

.feedback .block img {
    width: 100px;
}

.feedback .block .comment {
    margin: 15px 0 5px 0;
}

.feedback .fa-quote-right {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    color: #47474c;
}
/* FINE FEEDBACK */

/* INIZIO CONTACT US */
/* SEND MESSAGE */
.contact_us {
    padding: 80px 0 100px 0;
}

.contact_us p {
    color: #69696d;
}
.send_message {
    float: left;
    width: 60%;
}

.send_message h2 {
    margin: 20px 0;
}

.send_message form {
    margin-top: 40px;
}

.send_message input {
    width: calc(100% / 2 - 7px);
    height: 30px;
    margin-bottom: 10px;
    background-color: #ececec;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
}

.send_message textarea {
    max-width: 99%;
    width: 99%;
    background-color: #ececec;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

/* CONTACT */
.contact {
    float: right;
    width: 35%;
}

.contact p {
    margin: 20px 0;
}

.list_methods_contact {
    list-style: none;
}

.contact .list_methods_contact li {
    color: #058283;
    margin-bottom: 20px;
}

.contact .list_methods_contact .circle {
    background-color: #daeced;
    display: inline-block;
}
.contact .list_methods_contact .circle i {
    font-size: 15px;
    line-height: 30px;
}

.contact .list_methods_contact .btn {
    color: #058283;
}
/* FINE CONTACT US */

/* FINE MAIN */

/* INIZIO FOOTER */
/* FOOT TOP */
.foot_top {
    width: 100%;
    background-color: #111117;
    padding: 80px 0 120px 0;
}

.foot_contact p {
    color: #bcbdbd;
    margin: 20px 0;
}

.foot_contact {
    width: calc(100% / 4);
    margin-right: 20px;
}

.foot_top ul {
    list-style: none;
}

.foot_top ul li {
    color: #bcbdbd;
    margin-bottom: 10px;
}

.foot_top ul li i {
    margin-right: 5px;

}

.foot_contact ul {
    margin: 20px 0;
}

.foot_top .block h3 {
    margin-bottom: 20px;
}

/* FOOT BUTTOM */
.foot_bottom {
    width: 100%;
    padding: 20px 0;
    background-color: #0d0d11;
}
.foot_bottom p {
    color: #c0c3d0;
}

.foot_bottom .text_left {
    float: left;
}

.foot_bottom .text_right {
    float: right;
}


